
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #000000;
    padding: 18px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}

.nav_logo i {
    font-size: 25px;
}

.nav_lib {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #B7B3B6;
}

.nav_playlist, .nav_podcast {
    background-color: #242424;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    padding: 6px;
    font-size: 13px;
    border-radius: 8px;
    align-items: left;
}


.nav_playlist button, .nav_podcast button {
    background-color: #ffff;
    border: none;
    padding: 8px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}

.nav_footer {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 10px;
    color: #B7B3B6;
}

.nav_footer a {
    text-decoration: underline;
    color: #B7B3B6;
    cursor: pointer;
}

.nav_lang {
    margin-top: auto;
    background-color: transparent;
    border: 1px solid #B7B3B6;
    color: #B7B3B6;
    padding: 5px 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 10px;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.main_search_bar {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    width: 300px;
    background-color: #242424;
}

.main_search_bar input {
    background-color: transparent;
    border: none;
    color: #ffff;
    width: 100%;
    margin-left: 8px;
    outline: none;
}

.main_content {
    margin-top: 20px;
}

.main_artist_grid, .main_album_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.artist_card, .album_card {
    background-color: #181818;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.artist_card:hover, .album_card:hover {
    background-color: #282828;
}

.artist_card img, .album_card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.artist_card p, .album_card p {
    font-size: 12px;
    color: #B7B3B6;
}

.album_card h3 {
    font-size: 13px;
}

